.header2 {
  -fx-font-weight: bold;
}

.header1 {
  -fx-font-size: 20;
}

.readonly {
  -fx-control-inner-background: yellow;
}

.diffLabel {
  -fx-font-size: 14;
}

.diffLabel-bold {
  -fx-font-weight: bold;
  -fx-font-size: 14;
}

.text {
  -fx-font-family: "FreeSans"; 
}

.text-area > .scroll-pane {
    -fx-padding: 0;
}

.lineno {
  -fx-font-size: 12;
  -fx-text-fill: black;
  -fx-background-color: f0f0f0;
}

#diffPanel .delta-add {
  -fx-background-color: yellow;
}

#diffPanel .delta-delete {
  -fx-background-color: purple;
  -fx-text-fill: white;
}

#diffPanel .delta-change {
  -fx-background-color: blue;
  -fx-text-fill: white;
}

