  
. {
  -delta-add-color-bg: yellow;
  -delta-add-color-fg: black;
  -delta-delete-color-bg: purple;
  -delta-delete-color-fg: white;
  -delta-change-color-bg: blue;
  -delta-change-color-fg: white;
}

.header2 {
  -fx-font-weight: bold;
}

.header1 {
  -fx-font-size: 20;
}

.readonly {
  -fx-control-inner-background: yellow;
}

.diffLabel {
  -fx-font-size: 14;
}

.diffLabel-bold {
  -fx-font-weight: bold;
  -fx-font-size: 14;
}

.text-area > .scroll-pane {
    -fx-padding: 0;
}

.lineno {
  -fx-text-fill: black;
  -fx-background-color: f0f0f0;
}

.code-area .delta-add {
  -fx-background-color: -delta-add-color-bg;
  -rtfx-background-color: -delta-add-color-bg;
}

.code-area .delta-add .text {
  -fx-fill: -delta-add-color-fg;
}

.code-area .delta-delete {
  -fx-background-color: -delta-delete-color-bg;
  -rtfx-background-color: -delta-delete-color-bg;
}

.code-area .delta-delete .text {
  -fx-fill: -delta-delete-color-fg;
}

.code-area .delta-change {
  -fx-background-color: -delta-change-color-bg;
  -rtfx-background-color: -delta-change-color-bg;
}

.code-area .delta-change .text {
  -fx-fill: -delta-change-color-fg;
}

